.image_container {
  background: #555;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.portrait {
  width: 250px;
  padding: 6px;
  display: block;
}

@media screen and (max-width: 735px) {
  .image_container {
    float: none;
    margin: 0 auto;
  }
  .portrait {
    width: 200px;
  }
  main {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .portrait {
    width: 95%;
  }
}
