.project {
  padding: 20px 0 20px 0;
  text-align: center;
}

.project_demo {
  max-height: 600px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.project_icon {
  max-width: 100px;
  max-height: 100px

}

.project .multi-image {
  display: inline-block;
  margin: 0 auto;
}

.multi-image img{
  display: inline;
  margin: 0 auto;
}

.HackNotts-logo {
  width: 20%;
  margin: auto;
  display: inline;
}

.languages {
  list-style: none;
  padding: 0;
}

.languages li {
  display: inline-block;
  padding: 7px;
  color: #fff;
  border-radius: 20px;
}

h3 {
  font-size: 30px;
}

.java {background: #A4C639;}
.xml {background: #673AB7;}
.sql {background: #795548;}
.html {background: #FFC107;}
.css {background: #F44336;}
.javascript {background: #EF6C00;}
.c {background: #004D40;}
.cpp {background: #0277BD;}
.python {background: #33691E;}
