main {
  width: 60%;
}

.project {
  padding: 20px 0 20px 0;
}

.project img {
  max-height: 400px;
  max-width: 100%;
  margin: auto;
  display: block;
}

#HackNotts-logo {
  width: 20%;
  margin: auto;
  display: inline;
}

.languages {
  list-style: none;
  padding: 0;
}

.languages li {
  display: inline-block;
  padding: 7px;
  color: #fff;
  border-radius: 20px;
}

.project .demo {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  transition: all ease-in-out 250ms;
  background: #000;
  color: #fff;
}
.project .demo:hover {
  background: var(--primary_colour);
}

.java {background: #A4C639;}
.xml {background: #673AB7;}
.sql {background: #795548;}
.html {background: #FFC107;}
.css {background: #F44336;}
.javascript {background: #EF6C00;}
.c {background: #004D40;}
.cpp {background: #0277BD;}
.python {background: #33691E;}
