:root {
  --primary_colour: #9C27B0;
  --header_font_colour: #ffffff;
  --header_current_page_font_colour: #555555;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 100;
}

.header_container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

header {
  background: var(--primary_colour);
  height: 90px;
}
header::after {
  content: ' ';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 65%;
  padding: 15px 0;
}
.logo_full {}
.logo_small {
  display: none;
}

nav {
  float: right;
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  display: inline-block;
  height: 100%;
  margin-left: 30px;
}

nav a {
  color: var(--header_font_colour);
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  width: 100%;
  padding: 36px 10px;

  transition: all ease-in-out 300ms;
}
nav a:hover {
  color: var(--primary_colour);
  background: var(--header_font_colour);
}

.responsive_menu {
  display: none;
  margin-left: 0;
}
.responsive_menu a {
  font-size: 2em;
  padding: 23.5px 10px;
  text-align: center;
}

main {
  padding: 0 15vw;
}

@media screen and (max-width: 870px) {
  main {
    padding: 0 10vw;
  }

  nav li {
    display: none;
  }
  .responsive_menu {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .logo_full {
    display: none;
  }
  .logo_small {
    display: block;
  }
}
