:root {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 100;
  min-width: 180px;
}

ul {
  list-style: square;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.header_container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

header {
  background: #9C27B0;
  height: 90px;
}
header::after {
  content: ' ';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 58.5px;
  padding: 15px 0;
}
.logo_full {}
.logo_small {
  display: none;
}

nav {
  float: right;
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  display: inline-block;
  height: 100%;
  margin-left: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  width: 100%;
  padding: 36px 10px;

  transition: all ease-in-out 300ms;
}
nav a.selected {
  color: #555;
  background: #fff;
}
nav a:hover {
  color: #9C27B0;
  background: #fff;
}

.responsive_menu {
  color: #fff;
  display: none;
  margin-left: 0;
  font-size: 2em;
  padding: 23.5px 10px;
  text-align: center;

  float: right;
  color: #fff;
  text-decoration: none;

  transition: all ease-in-out 300ms;
}

.subtitle_container {
  background: #fff;
}

.subtitle_container div {
  width: 85%;
  margin: 0 auto;
}

.subtitle_container h1 {
  margin: 0;
  padding: 16px;
  color: #9C27B0;
  font-size: 3em;
  float: left;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.subtitle_container h2 {
  float: left;
  padding: 42px 0 0 40px;
  margin: 0;
  font-weight: 100;
}

#android_text {
  color: #A4C639;
}

main {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 915px) {
  nav li {
    display: none;
  }
  .responsive_menu {
    display: inline-block;
  }
  nav.responsive {
    width: 100%;
    margin-bottom: 10px;
  }
  nav.responsive ul {
    position: relative;
  }
  nav.responsive li {
    display: block;
    margin-left: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 20px 0;
  }

  .subtitle_container h1 {
    font-size: 2em;
  }
  .subtitle_container h2 {
    font-size: 1em;
    padding: 15px;
  }

  main {
    width: 70%;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 735px) {
  .subtitle_container div {
    width: 90%;
  }
  .subtitle_container {
    height: auto;
  }
  .subtitle_container h1 {
    font-size: 1.7em;
    padding: 5px;
  }
  .subtitle_container h2 {
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
  }

  main {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .logo_full {
    display: none;
  }
  .logo_small {
    display: block;
  }

  main {
    width: 95%;
  }
}
